.card-layout {
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 12px;
    border-radius: 16px;
    border: 0.5px solid #6BDBB5;
    background: #FFF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.18);
    width: 300px;
}

.container {
    display: flex;
    width: auto;
    border-radius: 30px;
    background: #FCF1E7;
    align-items: center;
    align-self: auto;
    margin: 5px;
}

.desc {
    width: 264px;
    color: #000;
    font-family: 'Karla';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.profile {
    margin-bottom: 5px;
    stroke-width: 2px;
    stroke: #FFF;
    padding-top: 4px;
    padding-left: 4px;
}

.name {
    color: #495E57;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rating {
    height: 16px;
    align-self: flex-start;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name-rating {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: flex-start;
}