.primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--font-base);
    font-size: 22px;
    font-weight: 400;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px 2px rgb(127, 124, 100);
    cursor: pointer;
}

.primary_button:hover{
    border: solid 1px var(--secondary-color);
}

.primary_button-link {
    text-decoration: none;
    width: fit-content;
}