.special-card-layout {
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--accent-color-dark);
    background-color: var(--accent-color-light);
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1rem 0;
}

.special-card-title{
    overflow: hidden;
    color: var(--highlight-color-dark);
    text-overflow: ellipsis;
    font-family: var(--font-base);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50%;
}

.special-card-price {
    color: var(--secondary-color);
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.special-card-desc {
    min-height: 100px;
    flex-shrink: 0;
    color: var(--gray-color);
    font-family: var(--font-secondary);
    font-size: 0.80rem;
    font-weight: 400;
}

.special-card-delivery {
    flex-shrink: 0;
    color: var(--highlight-color-dark);
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.special-card-image {
    width: 298px;
    height: 300px;
    flex-shrink: 0;
    clip: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.special-card-details {
    padding: 1rem;
}

.card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    align-items: center;
}

.special-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.special-card-delivery-icon{
    width: 25px;
    height: 25px;
}