.app__testimonials {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
}

.app__testimonials h2{
    align-self: center;
}

.app__testimonials-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px){

}

@media screen and (max-width: 500px){

}