.app__testimonials {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
}

.app__testimonials h2{
    align-self: center;
}

.app__testimonials-section{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px){
    .app__testimonials-section{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .app__testimonials-section{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px){
    .app__testimonials-section{
        grid-template-columns: repeat(1, 1fr);
    }
}