.testimonials-layout {
    background-color: white;
    margin: 20px 10%;
    border-radius: 16px;
    background: #FFF;
    padding: 40px;
}

.title {
    color: #010101;
    font-family: 'Markazi Text';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.cards {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:normal;
    padding: 20px;
}