@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Karla');

:root {
  --font-base: 'Markazi Text';
  --font-secondary: 'Karla';

  --bg-color: #eaf4f199;
  --bg-color-nav: #eaf4f1;
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --secondary-color-light: #f5ecbcb0;
  --highlight-color-light: #EDEFEE;
  --highlight-color-dark: #333333;
  --accent-color-dark: #6d8d83e9;
  --accent-color-light: #dcfef49e;
  --gray-color: #6b7688;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}