.footer{
    display: flex;
    flex-direction: row;
    grid-column: 1/13;
    align-items: center;
    justify-content:space-between;
    height: 333px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(239, 245, 243, 0.50) 14.39%, rgba(130, 171, 159, 0.50) 100%);
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    height: 60px;
}

.desc {
    display: flex;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    color: #495E57;
    font-family: 'Karla';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.footer-container {
    padding: 10px;
    color: #333;
    font-family: 'Karla';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}