.hero {
    background-color: #495E57;
    display: flex;
    height: 400px;
    padding: 0 10%;
}

.hero-text{
    width: 50%;

}

.hero-img {
    margin-top: 48px;
    align-self: normal;
    width: 440px;
    height: 464px;
    filter: drop-shadow(-6px 6px 10px rgba(244, 206, 20, 0.20)) drop-shadow(6px -6px 10px rgba(244, 206, 20, 0.20));
    border-radius: 16px;
}

.hero-title {
    padding-top: 48px;
    color: #F4CE14;
    font-family: 'Markazi Text';
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}
.hero-subtitle {
    color: #FFF;
    font-family: 'Markazi Text';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
}

.hero-desc {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 422px;
    height: 79px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Markazi Text';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}